*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #7e7e7e;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80vw;
    max-width: 800px;
    min-width: min-content;
    height: 80vh;
    max-height: 100%;
    padding: 30px;
    border-radius: 7px;
    background-image: url("pyramid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(10%);
}

.card {
    height: 7vw;
    border-inline-style: black solid 0.2px;
    pointer-events: all;
    aspect-ratio: 5 / 7;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

p {
    display: flex;
    justify-content: space-evenly;
    height: 7vw;
    padding: 0 0.125em;
    text-align: center;
    aspect-ratio: 5 / 7;
}

p,
button {
    background-color: #7e7e7e;
    font-family: "Rye", serif;
    font-size: 0.875vw;
}

#deck {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-radius: 7px;
    background-color: #7e7e7e;
    cursor: pointer;
}

#deckCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
}

p {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    border-radius: 7px;
}

.restart {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 7px;
    background-color: #7e7e7e;
    cursor: pointer;
}

.win {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
}

/* Rows */

.row {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    gap: 2%;
}

.row0 {
    position: relative;
    transform: translateY(0);
}

.row1 {
    top: 10%;
}

.row2 {
    top: 20%;
}

.row3 {
    top: 30%;
}

.row4 {
    top: 40%;
}

.row5 {
    top: 50%;
}

.row6 {
    top: 60%;
}

/* Utils */

.clickable {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.remaining {
    font-weight: 700;
}

.empty {
    z-index: -1;
    border: none;
    pointer-events: none;
}

@media (max-width: 800px) {
    body {
        transform: rotate(90deg);
        object-position: center;
    }

    main {
        height: 100vw;
        width: 100vh;
    }

    #cardContainer {
        height: 100vh;
        width: 90vw;
    }

    #deckCard {
        flex-direction: row;
    }

    .card {
        height: 14vw;
    }

    p {
        height: 100%;
        width: 7vw;
    }
}
