*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #7e7e7e;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80vw;
    min-width: min-content;
    height: 80vh;
    max-height: 100%;
    padding: 30px;
    border-radius: 7px;
    background-image: url("pyramid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(10%);
}

.card {
    height: 10vw;
    border-inline-style: black solid 0.2px;
    pointer-events: all;
    aspect-ratio: 5 / 7;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

img {
    width: 100%;
    height: 100%;
}

#deck {
    width: min-content;
}

#deck img {
    width: min-content;
}

.deck-card {
    display: flex;
    cursor: pointer;
    gap: 2vw;
    box-shadow: none;
    border-radius: 7px;
}

.deck-drawn-card {
    border-radius: 7px;
}

.deck-card p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border-radius: 7px;
    background-color: #7e7e7e;
    font-size: 0.875vw;
    text-align: center;
    aspect-ratio: 5 / 7;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.deck-card img {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.remaining span {
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    height: 10vw;
}

.btn {
    width: 100%;
    margin: 0 auto;
    padding: 1.5vh 3vw;
    border: none;
    border-radius: 7px;
    background-color: #7e7e7e;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.win {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
    gap: 8%;
}

.win p {
    font-size: 0.75em;
}

#playerNameInput {
    padding: 1.5vh 3vw;
    text-align: center;
    border-radius: 7px;
}

#restartBtn,
#addScoreBtn {
    max-width: min-content;
    padding: 1.5vh 3vw;
    white-space: nowrap;
}

/* Rows */

.row {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    gap: 2vw;
}

.row1 {
    top: 10%;
}

.row2 {
    top: 20%;
}

.row3 {
    top: 30%;
}

.row4 {
    top: 40%;
}

.row5 {
    top: 50%;
}

.row6 {
    top: 60%;
}

/* Modal */

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 40%;
    border-radius: 7px;
    background-color: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.33), 0 0 0 100vh rgba(0, 0, 0, 0.33);
}

.rules,
.scores-header {
    text-align: center;
}

.modal h2 {
    margin-bottom: 1em;
    font-size: 1em;
}

.rules p {
    width: 100%;
    padding: 0 1em;
    font-size: 1.33vw;
    user-select: text;
}

.high-scores {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1em;
    overflow-y: auto;
}

.scores-header {
    margin-bottom: 1em;
    font-size: 0.75em;
}

.high-score-entry {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 50%;
    margin: 0.5em;
    border-bottom: dashed 1px black;
    font-size: 0.75em;
    height: 7%;
    line-height: 1;
}

.score {
    text-align: end;
}

/* Utils */

.clickable {
    cursor: pointer;
    border-radius: 7px;
}

.overflow-hidden {
    overflow: hidden;
}

.remaining {
    font-weight: 700;
}

.empty {
    z-index: -999;
    border: none;
    pointer-events: none;
    box-shadow: none;
}

@media (max-width: 800px) {
    body {
        transform: rotate(90deg);
        object-position: center;
    }

    main {
        height: 100vw;
        width: 100vh;
        padding: 10px;
    }

    #cardContainer {
        height: 100vh;
        width: 100vw;
    }

    .card {
        height: 16vw;
    }

    .buttons {
        height: 16vw;
    }

    .btn {
        font-size: 0.55em;
        padding: 0.75em 1.5em;
    }

    .deck-card p {
        font-size: 1.66vw;
    }

    .modal p {
        font-size: 2.67vw;
    }

    .win {
        gap: 4%;
    }

    .high-score-entry {
        width: 75%;
    }
}
