*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #7e7e7e;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80vw;
    min-width: min-content;
    height: 80vh;
    max-height: 100%;
    padding: 30px;
    border-radius: 7px;
    background-image: url("pyramid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(10%);
}

.card {
    height: 10vw;
    /* border-inline-style: black solid 0.2px; */
    pointer-events: all;
    aspect-ratio: 5 / 7;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

img {
    width: 100%;
    height: 100%;
}

#deck img {
    width: min-content;
}

.deck-card {
    display: flex;
    cursor: pointer;
    gap: 5px;
    box-shadow: none;
}

.deck-class {
    width: min-content;
}

.deck-card p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border-radius: 7px;
    background-color: #7e7e7e;
    font-size: 0.875vw;
    text-align: center;
    aspect-ratio: 5 / 7;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    height: 10vw;
}

.btn {
    width: 100%;
    margin: 0 auto;
    padding: 1.5vh 3vw;
    border: none;
    border-radius: 7px;
    background-color: #7e7e7e;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.win {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
    gap: 10%;
}

.win p {
    font-size: 0.75em;
}

.restart-btn {
    max-width: min-content;
    padding: 1.5vh 3vw;
    white-space: nowrap;
}

/* Rows */

.row {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    gap: 2%;
}

.row1 {
    top: 10%;
}

.row2 {
    top: 20%;
}

.row3 {
    top: 30%;
}

.row4 {
    top: 40%;
}

.row5 {
    top: 50%;
}

.row6 {
    top: 60%;
}

/* Modal */

.rules-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 40%;
    border-radius: 7px;
    background-color: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.33), 0 0 0 100vh rgba(0, 0, 0, 0.33);
}

.rules-modal p {
    width: 100%;
    padding: 1em;
    font-size: 1.33vw;
    text-align: center;
    user-select: text;
}

/* Utils */

.clickable {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.remaining {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.remaining span {
    font-size: 2em;
}

.empty {
    z-index: -999;
    border: none;
    pointer-events: none;
    box-shadow: none;
}

@media (max-width: 800px) {
    body {
        transform: rotate(90deg);
        object-position: center;
    }

    main {
        height: 100vw;
        width: 100vh;
        padding: 10px;
    }

    #cardContainer {
        height: 100vh;
        width: 100vw;
    }

    .card {
        height: 16vw;
    }

    .buttons {
        height: 16vw;
    }

    .btn {
        font-size: 0.55em;
        padding: 0.75em 1.5em;
    }

    .deck-card p {
        font-size: 1.66vw;
    }

    .rules-modal p {
        font-size: 2.67vw;
    }
}
